
{% extends "base.html" %}

{% block title %}Reporte{% endblock %}

{% block content %}
  <iframe
    src="https://lookerstudio.google.com/embed/reporting/f06f3320-4b81-46d6-be9c-c303e81a2550/page/CghgF"
    frameborder="0"
    style="border:0; width:100%; height:calc(100vh - 90px - 1rem); display:block; margin:1rem 0 0 0; border-radius:12px; overflow:hidden;"
    allowfullscreen
    sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
  </iframe>
{% endblock %}
